form.form(method='POST')
   if errors
      ul.ul.errors
         for error in errors
            li.li.error= error.msg

   label.label(for='title') Название
   input.input.required(name='title', value='', required=true)

   label.label(for='desc') Описание
   input.input.required(name='desc', value='', required=true)

   button.button(type='submit') Создать