@media only screen and (max-width: 990px) {
   .html {
      background-color: #ffe8ec;
      font-size: 14px;
   }
}

@media only screen and (max-width: 768px) {
   .html {
      font-size: 14px;
      background: #f3e2fd;
   }
}
