doctype html  
html.html(lang="ru")  
   head
      title= title
      link(rel="stylesheet", href="/css/index.css")

   body.body
      include /_includes/header

      include /_includes/flash

      .content
         block content

      script(src='/js/flash.js')