@font-face {
	font-family: 'Gotham Pro';
	src: url('/fonts/Gotham/GothamProBla.otf');
	font-weight: 800;
}

@font-face {
	font-family: 'Gotham Pro';
	src: url('/fonts/Gotham/GothamProReg.otf');
	font-weight: 400;
}

::selection {
	background: var(--accent2);
}

.html {
	font-family: 'Gotham Pro', sans-serif;
	font-weight: 400;
	font-size: 30px;
	line-height: 1.4;
	-webkit-font-smoothing: antialiased;
	transition: all 1s ease-out;
}

.page {
	color: var(--color);
	background-color: var(--fill);
}

.h1,
.h2,
.h3,
.h4 {
	font-weight: 800;
	font-family: 'Gotham Pro', serif;
}

.h1 {
	font-size: 3.2rem;
	line-height: 1.25;
	margin-bottom: 2em;
}

.h2 {
	font-size: 1.6rem;
	line-height: 1.4;
	margin-bottom: 1.4em;
}

.h3 {
	font-size: 1.2rem;
	line-height: 1.4;
	margin-bottom: 1.5em;
}

.h4 {
	font-size: 1.18;
	line-height: 1.35;
	margin-bottom: 1em;
}

p {
	margin-bottom: 1em;
	line-height: 1.4;
}

.a {
	color: var(--link_color);
	border-bottom: 0.10em solid var(--link_border_color);
	text-decoration: none;
	padding-bottom: 0.1em;

	&:hover {
		color: var(--link_hover_color);
		border-color: var(--link_hover_border-color);
	}

	&:visited {
		color: var(--link_visited_color);
		border-color: var(--link_visited_border-color);
	}
}

.list {
	padding-left: 3em;
	list-style: none;

	.list__item {
		// margin-bottom: 1em;
		position: relative;
	}

	// .list__item::before {
	// 	content: '—';
	// 	position: absolute;
	// 	left: -1.3em;
	// }
}

// .ordered-list {
// 	padding-left: 3.64em;
// 	list-style-type: alpha;

// 	.ordered-list__item {
// 		margin-bottom: 1em;
// 		position: relative;
// 	}
// }

// .ordered-list.ordered-list_type_alpha {
// 	list-style-type: lower-latin;
// }

// .ordered-list.ordered-list_type_leading-zero {
// 	list-style-type: decimal-leading-zero;
// }

// .ordered-list.ordered-list_type_roman {
// 	list-style-type: upper-roman;
// }
